/app/config/parameters.yml
/web/bundles/
/web/tmp*
/src/Zuo/WebBundle/Resources/public/tmp*
code_check.php
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
composer.lock
composer.phar
/web/js/*
/web/css/*
src/Weimi/WebBundle/Resources/public/images/._*
/web/*.log
/web/uploads
*.bak
*.back
*.swp
*.log
*~
.DS_Store
.idea/
._.DS_Store
web/resize/
nbproject/
robots.txt
