<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style type="text/css">
                body, *{ margin: 0px; padding: 0px; color: #232323; font-family:'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, 'Hiragino Sans GB', sans-serif; font-size: 14px;}
                body{ width: 900px;  margin:auto; background-color: #FBFAF7;}
                a{ color: #08C; }
                a:hover{ text-decoration: underline;}
                h1{ font-size: 35px; margin: 50px 0px; text-align: center;}
                h2{ font-size: 25px;}
                h1, h1 a{ color: #C30000;}
                h2{ margin: 35px 0px; font-size: 25px; border-bottom: 1px solid #ccc; padding-bottom: 5px; color: #c35000;}
                h3{ margin: 25px 0px; font-size: 20px; color: #c37000; }
                h4{ margin: 15px 0px; font-size: 18px; color: #c39000; }
                img{ padding: 5px;margin: 10px 0 32px 0; border: 1px solid #ccc; margin: 0 auto; max-width: 880px; }
                ul, ol, dl{ list-style: none; }
                ul{ color: #888; font-size: 80%; border-bottom: 1px solid #eee; list-style: none; padding-left: 5px; }
                ul#articles li{ color: #888; font-size: 80%; border-bottom: 1px solid #eee; list-style: none; padding-left: 5px;}
                ul#articles li a {color: #047; font-size: 15px; padding: 18px; display: inline-block; text-decoration: none;}
                ul#articles li span{ float: right; font-size: 15px; padding: 18px; color:#888;}
                p{ margin-bottom: 15px; line-height: 25px; }
                pre { margin-left: 10px; margin-right: 10px; padding: 15px; background: #232125; border-radius: 4px; border: 1px solid #D7D8C8; overflow: auto; overflow-y: hidden; margin-bottom: 20px;}
                code, pre { color: #D3D3D3; font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; font-size: 14px; line-height: 1.5em; font-family: Monaco,Consolas,Courier,monospace; }
                p code{ background-color: #ccc; color: #232323}
            </style>
        {% endblock %}
    </head>
    <body id="body">
        {% block header %}{% endblock header %}
        {% block content %}{% endblock content %}
        {% block footer %}{% endblock footer %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
