{% extends "::base.html.twig" %}
{% block content %}
{{ md_content|raw }}
<div style="clear: both"></div>
<p style="background-color:  #C33000; color: #fff; padding: 20px;">注：由于本人英语水平有限，难免有错误。发现错误请在下方留言或<a href="mailto:syp.syl@gmail.com"> Email</a></p>
{% endblock content %}
{% block footer %}
<div style="height: 60px; line-height:60px; border-top:1px solid #ccc; margin-top: 20px;">
    <span style="float: left;">Powered by <a href="http://symfony.com/" target="_blank">Symfony</a></span> 
    <span style="float:right"><a href="https://github.com/Filix" target="_blank">Fork me on Github</a></span>
</div>
{% endblock footer %}
{% block javascripts %}
<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"symfonycn"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
{% endblock %}